<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name = "defCon"
			 connectionString = "Data Source=D8672B6A3F8B574\LOCALNET;Initial Catalog=emsDB;Integrated Security=True;
		    MultipleActiveResultSets=True;"/>
	</connectionStrings>
	
  <appSettings>
    <add key = "Username" value = "spyrax10mail@gmail.com"/>
    <add key = "Password" value = "@spyrax10Mail@"/>
  </appSettings>
  
</configuration>